body {
	font-family: fantasy, impact;
}

table {
	border-collapse: collapse;
}
table.event {
	width: 500px;	
}
tr.event {
	height: 80px;
}
tr.nextEvent {
	background-image: url(img/nextEvent.png);
    position: absolute;
    left: 240px;
	width: 500px;	
    z-index: -1;
}
a, a:visited {
	text-decoration: none;
	color: #3e0470;
}

a:hover {
	text-decoration: none;
	color: #be008a;
}

a.known, a:visited.known {
	text-decoration: none;
	color: #be008a;
}

a:hover.known {
	text-decoration: none;
	color: #3e0470;
}

.container {
	width: *;
	background: transparent;
}

.leftBar {
	width: 200px;
	background: transparant;
	float: left;
}

.eventList {
	width: 500px;
	background: transparant;
	float: left;
}

.eventListTransactions {
	width: 700;
	margin-right: 20px;
	background: transparant;
	float: left;
}

.locationList {
	width: 200px;
	background: transparant;
	margin-right: 40px;
	margin-bottom: 30px;
	float: left;
}

.aanmelden {
	width: 200px;
	background: transparant;
	float: left;
}

.afmelden {
	width: 80px;
	background: transparant;
	float: left;
}
.header {
	font-size: 200%;
}

.month {
	height:40px;
	font-size:200%;
}

.day {
	height:40px;
	font-size:200%;
	color: #be008a;
	text-align: right;
	vertical-align: top;
	margin-right: 20px;
}

.pink {
	color: #be008a;
}

#formLocation, #formEvent, #formMoney {
}

/* FORM STYLING     */
form {
	font-size: 80%;
	margin-top: 20px;
}

.aanmelden {
	margin-top: 6px;
}

fieldset {
	border: 1px solid #3e0470;
	width: 160px;
}

legend {
	color: #fff;
	background: #be008a;
	border: 1px solid #3e0470;
	padding: 2px 6px
}

input {
	color: #3e0470;
	border: 1px solid #3e0470;
	font-family: fantasy, impact;
}

select {
	font-family: fantasy, impact;
	width: 160px;
	border-color: #3e0470;
}

.text {
	width: 100%;
}

.button {
	border: 2px solid #3e0470;
}

.button:hover {
	color: #fff;
	background: #be008a;
	cursor: pointer;
} 

/* END FORM STYLING */